.tooltipContainer {
  position: relative;

  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.tooltip {
  position: absolute;
  display: none;
  top: calc(-100% - 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 20px;
  border-radius: 15px;
}